body {

    width: 100vw;
    height: 100vh;

    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    background-color: hsl(228, 100%, 84%) ;

    display: grid;
    place-content: center;
}

/* Whole form body */
#multi-form {
    display: grid;
    grid-template-columns: 2.8fr 7fr;
    grid-template-rows: 58vh;    
    /* height: 65vh;
    width: 60vw; */


    box-sizing: border-box;
    padding: 1.5rem;
    border-radius: 2.5%;


    background-color: white;
}



/* side bar */
#side-bar {
    background: url('assets/images/bg-sidebar-desktop.svg');
    border-radius: 2.5%;

    /* display: grid;
    gap: 30px; */
    /* funny grid */
}


.step-number {
    color: #C1C2FF;
    font-size: 0.9rem;
    font-weight: 400;
}


.step-title {
    color: white;
    margin-left: 3.2rem;
    font-weight: 500;
}


#side-bar li {
    list-style-type: none; 
    display: inline;
}

#side-bar .round-number {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    font-size: small;
    padding: 5px;
    text-align: center;
    background: rgb(238, 228, 228);
    border-radius: 50%;

    margin-top: 1rem;
    margin-right: 0.7rem;
    margin-left: 0.5rem;

    position: relative;
    top: 0.8rem;
}

#side-bar .change_the_color{
    background-color: #bbe0fb;
    z-index: 1;
}

#side-bar .center-step  {
   margin-left: 1rem;
}


/* Right half div */

#right-half-div {
    display: grid;
}


/* step-1 form */

#step-1-form, #step-2-form {
    box-sizing: padding-box;

    padding: 0 6rem;
    /* border: 2px solid yellow; */

}


#step-1-form label input {
    padding: 0.9rem  0;
    margin-top: 0.3rem;
    width: 75%;
    border-radius: 5%;
    border: 1px solid black;
}
/* 172C3F */

#step-1-form label {
    color: #172C3F;
}

.block-display {
    display: block;
}

.form-element {
    height: 90%;
    display: grid;
    grid-template-rows: auto 70% auto;

    /* border: 1px solid blue; */
}


.input-data {
    display: grid;
    height: 75%;

    margin-top: 1.5rem;
}
/* 
.form-element label input::placeholder {
    color: blue;
    padding: 4.5rem;
} */

.next-step-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    width: 75%;

    /* border: 2px solid pink; */
}


.next-step {
    color: white;
    background: hsl(213, 96%, 18%);
    padding: 1rem 0.5rem;
    border-radius: 15%;
    
    grid-column: 3;
    /* border: 2px solid orangered; */
}

/* styling for step-1 */

.data-heading {
    font-size: larger;
    font-weight: 600;
    color: #0F335C;
}

/* for step-2 */

.input-data-two  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30vh;

    /* height: 60%; */
    height: 50%;
}


.square-div {
    display: inline-block;
    width: 8rem; 
    height: 11rem; 
    border: 2px solid #a4a0c6;
    border-radius: 5%;
  
    margin-left: 0.5rem;

    box-sizing: border-box;
    padding-top: 6.5rem; 
    padding-left: 0.5rem;
}

#total-price {
	display: flex;
	justify-content: flex-end;
	margin-top: -35px;
}

.arcade {
    background: url('assets/images/icon-arcade.svg');
    background-repeat: no-repeat; 
    background-position: 10px 10px; 
} 

.advanced {
    background: url('assets/images/icon-advanced.svg');
    background-repeat: no-repeat;
    background-position: 10px 10px; 
}

.pro {
    background: url('assets/images/icon-pro.svg');
    background-repeat: no-repeat;
    background-position: 10px 10px; 
}


.hidden-radio {
    opacity: 0;
} 

/* .next-step-div2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
} */ 
/* i changed this line */

.next-step-div2 {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
	padding-top: 55px;
}

.go-back {
    border: none;
    background: white;
    grid: 1;
    margin-left: -5rem;
}

.price {
    color: #ceced7;
}

.planType {
    color: #0F335C;
}



/* for 3rd step form */
#step-3-form , #step-4-form{
    height: 100%;

    box-sizing: border-box;
    padding: 0.5rem 4rem;

    grid-gap: 2rem;
}

.meta-info {
    color: #b4b5ba;
}

.input-data-three {
    display: grid;
    align-items: center;
    height: 60%;
    margin: 2rem 0;
}

.go-back2 {
    color: #b6b6bd;
    background: white;
    border: none;
    margin-left: -4rem;
}

.next-step-div2 {
    display: grid;
}

.next-step-three {
    padding: 0.5rem 0;
    background: #02285a;
    border-radius: 10%;
    color: white;
    grid-column: 3;
}

.services {
    display: grid;
    grid-template-columns: 0.5fr 5fr 1fr;
    place-items: center;
    border: 2.5px solid #a69fcb;
    padding: 1rem 0.5rem;
    border-radius: 5%;
}


.label-container {
    display: grid;
    align-items: center;
}

.larger-storage {
    margin-left: -2rem;
}


/* For form-4 */

.input-data-four {
    display: grid;
    align-items: center;
    height: 35%;
    margin: 1rem 0;

    box-sizing: border-box;
    padding: 0.5rem;

    grid-gap: 1px;

}

#total-bill {
    /* border: 1px solid cyan; */

    margin-bottom: 7.5rem;
}


.total-price {
    grid-column: 3;
}

.bill-items {
    display: grid;
    grid-template-columns: auto 1fr 1fr ;
    height: 0.3rem;
}


.item-price {
    grid-column:4;
}


.next-step-div3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.go-back3 {
    text-align: start;
    background: white;
    color: #b6b6bd;
    border:  none;
}

.next-step-four {
    text-align: center;
    background: #938bfd;
    box-sizing: border-box;
    padding: 0.5rem;
    border-radius: 5%;
    border: none;
    color: white;
    grid-column: 3;
}


/* for form 5 */
#step-5-form div {
    display: grid;
    height: 100%;
    place-items: center;
    border: 2px solid pink;

    padding: 7rem ;
    padding-bottom: -8rem;
    box-sizing: border-box;

}

.thank-you-message {
    width: 28rem;
    text-align: center;
    color: #b9b8be;
}

/* for toggle switch */ 
 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background: #0F335C;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 


/* Toggle button */
.toggle-button {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    place-items: center;
}



/* yearly */

.yearly {
    display: none;
}


/* For mobile design 375px */

@media screen and (max-width: 375px) {
        body {
            display: grid;
            /* height: 10vh; */

            border: 2px solid brown;

            grid-template-rows: auto 1fr ; /* Adjust the value as needed */
        }

        #multi-form {
            display: grid;
            grid-template-rows: auto 1fr ;
            grid-template-columns: auto;

            padding: 0;

            position: relative;
        }

        #side-bar {
            width:100%;
            height: 28vh;

            display: flex;
            justify-content: center;     
            
            background: url('assets/images/bg-sidebar-mobile.svg');
            background-repeat: no-repeat;
          }

        #multi-form #side-bar .step-number {
            display: none;
            /* border: 2px solid red; */
        }
        

        #multi-form #side-bar .center-step  {
            display: inline-flex;
        }

        /* for step-1 form */
        #right-half-div {
            display: flex;
            justify-content: start;

            /* width: 70%; */

            position: relative;

            background: #eef5ff;

        }  

        .form-element {
            /* border: 2px solid gray; */
        }

        #step-1-form {
            box-sizing: border-box;
            padding: 1rem;

            position: relative;
            top: -8rem;

            background: white;
        } 


        .next-step-div {
            position: relative;
            bottom: -6rem;
            left: 3rem;
            padding: 0.5rem 2rem;
        }

        /* for step-2 form */

        #step-2-form {
            padding: 0;
            height: auto;

            position: relative;
            top: -9rem;

            background-color: white;
        }

        .heading-two {
            box-sizing: border-box;
            padding: 1rem;
        }

        .input-data-two  {
            grid-template-columns: none;
            grid-template-rows: auto;  
            
            padding: 0.5rem;
        }

        .square-div {
            width: 100%;
            height: 4rem;
            margin-left: 0;
            padding: 0;
            
            display: flex;
            justify-content: center;
            align-items: start;
        }

        .go-back {
            margin-left: 0;
        }

        /* .next-step-div2 {
            margin-top: -rem;
        } */
        /* .block-display {
            display: inline;
        } */


        /* for form-3 */
        #step-3-form {
            height: 100%;
            position: relative;
            top: -8rem;

            background: white;
            justify-content: start;

            padding: 0.3rem 1rem;
        }

        .input-data-three {
            margin: 2.3rem 0;
            justify-content: start;

        }

        .go-back2 {
            margin-left: 0;
        }

        .next-step-div2 {
            position: relative;
            top: 4rem;
        }

        /* for form-4 */

        #step-4-form {
            position: relative;
            top: -10rem  ;

            display: flex;
            justify-content: flex-start;  

            padding: 1rem;
            background: white;
        }

        /* For form 5 */

        #step-5-form {
            width: 95%;

            position: relative;
            top: -8rem;
            margin: 0 auto;

            background: white;

            
        }

        #step-5-form div {
            padding: 0;
        }


       .thank-you-message {
            width: 19rem;
            text-align: center;
       }
}


